* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 200ms ease;
}
a {
  color: aliceblue;
  text-shadow: 3px 3px 5px black;
  transition: 200ms ease;
}

a:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}
button:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}
body {
  background-image: linear-gradient(to right, rgb(137, 3, 61), rgb(82, 0, 203));
}
header h1 {
  text-align: center;
  margin: 1rem 0 2rem;
  color: aliceblue;
  text-shadow: 3px 3px 5px black;
}
main {
  display: grid;
  gap: 1.5rem;
}
.boards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.yourBoardCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.youBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 14px;
  align-content: center;
  transition: 200ms ease-in-out;
}
.youBoard:hover {
  transform: scale(1.02);
}
.youBoardHeader {
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 2px 8px black;
}

.computerBoardCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.computerBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 14px;
  align-content: center;
  transition: 200ms ease;
}
.computerBoard:hover {
  transform: scale(1.02);
}
.computerBoardHeader {
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 2px 5px black;
}
.cell {
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  border: 0.1px groove rgb(4, 101, 143);
}

.cell:hover {
  background-color: rgb(204, 204, 204);
  cursor: pointer;
}
.a1 {
  border-top-left-radius: 10px 10px;
}
.a10 {
  border-top-right-radius: 10px 10px;
}

.j1 {
  border-bottom-left-radius: 10px 10px;
}
.j10 {
  border-bottom-right-radius: 10px 10px;
}
.controls {
  margin: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.play {
  background-color: rgb(0, 193, 61);
}
.shuffle {
  background-color: rgb(143, 143, 143);
  display: none;
}
.reset {
  background-color: rgb(207, 2, 84);
  display: none;
}

footer {
  margin: 2rem 0 1rem;
  display: flex;
  gap: 1rem;
  color: aliceblue;
  text-shadow: 1px 2px 8px black;
  justify-content: center;
}
