* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 6px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: 200ms ease;
  color: ghostwhite;
}
a {
  color: aliceblue;
  text-shadow: 3px 3px 5px black;
  transition: 200ms ease;
}

a:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}
button:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}
body {
  background-image: linear-gradient(to right, rgb(137, 3, 61), rgb(82, 0, 203));

  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  transition: all 200ms ease;
}
header h1 {
  text-align: center;
  margin: 2.5rem 0 1rem;
  color: aliceblue;
  text-shadow: 3px 3px 5px black;
  font-size: 3rem;
  align-self: end;
}
main {
  display: grid;
  gap: 1.5rem;
}
.boards {
  display: flex;
  justify-content: center;
  gap: 4rem;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.player1BoardCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.player1BoardDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 14px;
  align-content: center;
  transition: 200ms ease-in-out;
}

.player1BoardDiv.playVsComputer:hover {
  transform: scale(1.02);
}
.cell.play1v1:hover {
  background-color: rgb(204, 204, 204);

  transform: scale(1.2);
}
.player1BoardDivHeader {
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 2px 8px black;
}
.gameStatus {
  text-align: center;
  color: aliceblue;
  text-shadow: 3px 3px 5px black;
  visibility: hidden;
  font-size: 2.5rem;
}
.computerBoardCont,
.player2BoardCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.computerBoard,
.player2Board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 14px;
  align-content: center;
}

.computerBoardHeader,
.player2BoardHeader {
  text-align: center;
  color: aliceblue;
  text-shadow: 1px 2px 5px black;
}
.cell {
  width: 3.2rem;
  height: 3.2rem;
  background-color: rgb(255, 255, 255);
  border: 0.1px groove rgb(4, 101, 143);
  transition: 200ms ease;
  cursor: pointer;
}

.cell.computer:hover {
  background-color: rgb(204, 204, 204);

  transform: scale(1.2);
}
.cell.player2:hover {
  background-color: rgb(204, 204, 204);

  transform: scale(1.2);
}

.a1 {
  border-top-left-radius: 10px 10px;
}
.a10 {
  border-bottom-left-radius: 10px 10px;
}

.j1 {
  border-top-right-radius: 10px 10px;
}
.j10 {
  border-bottom-right-radius: 10px 10px;
}
.a,
.b,
.c,
.d,
.e,
.f,
.g,
.h,
.i,
.j {
  position: absolute;
  transform: translate(10px, -30px);
  color: aliceblue;
  font-size: 1.1rem;
}
.one,
.tow,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten {
  position: absolute;
  transform: translate(-25px, 0);
  color: aliceblue;
  font-size: 1.1rem;
}
.ten {
  transform: translate(-30px, 0);
}
.hit {
  color: red;
  font-size: 2.8rem;
  display: flex;
  justify-content: center;
}
.controls {
  margin: 0.5rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.gameTypeControls {
  display: flex;
  gap: 5rem;
  flex-direction: row-reverse;
  align-items: center;

  align-self: start;
}
.play1v1Btn {
  align-self: flex-start;
  background-color: rgb(0, 193, 61);
}
.playVsComputerBtn {
  align-self: flex-start;
  background-color: rgb(0, 193, 61);
}
.gameControls {
  display: flex;
  gap: 4rem;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.start {
  align-self: flex-start;
  background-color: rgb(0, 193, 61);
  display: none;
}
.shuffle {
  background-color: rgb(2, 128, 207);

  display: none;
}
.reset {
  background-color: rgb(207, 2, 84);
  display: none;
}
.back {
  background-color: rgb(143, 143, 143);
  display: none;
}

.disabled {
  cursor: not-allowed;
  filter: brightness(0.8);
}

.disabledDarker {
  cursor: not-allowed;
  filter: brightness(0.7);
}
footer {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  color: aliceblue;
  text-shadow: 1px 2px 8px black;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5rem;
}
